# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

Random-Quote-Machine.sln

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend
backend/bin
backend/obj
backend/Properties
backend/appsettings.Development.json
backend/backend.http
backend/publish

# Frontend
frontend/src/assets
frontend/tests
frontend/dist